/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i');
*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Poppins|Quicksand');
/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400');
*/
h1{
  font-family:'Lobster', sans-serif !important;
}
h2,h3,h4,h5,h6,p,input,textarea,select,label,span,i,div,section{
  font-family: 'Poppins', sans-serif !important;
}





button{
  box-shadow: 0 2px 15px rgba(0,0,0,0.10);
  border: none !important;
  border-radius: 50px !important;
}
.btne{
	 box-shadow: 0 2px 15px rgba(0,0,0,0.10);
  border: none !important;
  border-radius: 50px !important;
}

input.form-control:focus {
    border: 2px solid #6FCF97 !important;
}

input.form-control {
	transition: all .4s ease !important;
    box-shadow: none !important;
    padding-left: 20px;
    border-radius: 50px;
}
.well.login input {
    margin-bottom: 5%;
}
.well.login {
    background: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.12);
    padding: 40px;
    border: none;
    border-radius: 1px;
}
div#myNavbar input {
  margin-top: 8px;
  border-radius: 50px !important;
  margin-left: 12%;
  padding: 10px 20px;
  font-size: 13px;
  transition: all .5s ease;
  width: 297px;
  border: 1px solid #ddd;
}

div#myNavbar input:focus {
  margin-top: 8px;
  border-radius: 50px !important;
  width: 460px;
 }